.burger {
  padding: 10px 10px 10px 0;
  transition: all .15s linear;
  &-box {
    position: relative;
    width: 25px;
    height: 25px;
    .burger-inner {
      position: absolute;
      top: calc(50% - 2px);
      height: 3px;
      width: 25px;
      background: #ffffff;
      border-radius: 10px;
      transition: all .15s linear;
      &:after,
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #ffffff;
        border-radius: 10px;
        transition: all .15s linear;
      }
      &:after {
        top: 6px;
      }
      &:before {
        top: -6px;
      }
    }
  }
  &.active {
    .burger-inner {
      transition: all .15s linear;
      background: rgba(255, 255, 255, 0);
      &:after {
        transform: translate3d(0, -6px, 0) rotate(-45deg);
        opacity: 1;
      }
      &:before {
        transition: all .15s linear;
        transform: translate3d(0, 6px, 0) rotate(45deg);
        opacity: 1;
      }
    }
  }
}