@media screen and (min-width: 320px) {
.footer{
  &-inner{
    background: $Gondola;
  }
  &__menu{
    padding: 30px 0 ;
    ul{
      display: flex;
      justify-content: space-around;
      margin: 0;
      li{
        position: relative;
        &:after{
          content: '';
          position: absolute;
          right: -8px;
          top: 0;
          bottom: 0;
          width: 1px;
          background: $White;
          height: 10px;
          margin: auto;
        }
        &:last-child:after{
          display: none;
        }
        a{
          padding: 5px;
          color: $White;
        }
      }
    }
  }
  &__number-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    .footer__icon{
      margin-right: 10px;
    }
  }
  &__number{
    a{
      display: block;
      color: $White;
      font-size: 18px;
    }
  }
  &__address-wrap{
    text-align: center;
    padding-bottom: 30px;
  }
  &__address{
    color: $White;
    margin-bottom: 10px;
  }
  &__email{
    a{
      color: $SummerSky;
    }
  }
  
  &__time-work-wrap{
    padding-bottom: 30px;
  }
  &__time-work{
    color: $White;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  &__social-wrap{
    background: $Rhino;
    a{
      display: block;
    }
  }
  &__social{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    img{
      margin-right: 10px;
    }
    span{
      color: $White;
    }
  }
  &__copy-wrap{
    background: $Gondola;
  }
  &__copy{
    color: #595959;
    text-align: center;
    padding: 7px 0;
    font-size: 9px;
  }
}
}