@media screen and (min-width: 320px) {
  .header{
    &__inner{
      padding: 15px 0;
      position: relative;
      z-index: 10;
      background: $White;
    }
    &__btn-group{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 15px;
      .btn:first-child{
        flex: 1 1 165px;
        margin-right: 10px;
      }
      .btn:last-child{
        flex: 1 1 95px;
      }
    }
    &__contact-group{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
    }
    &__logo{
      display: block;
      &-wrap{
        flex: 0 1 140px;
      }
    }
    &__contact{
      flex: 0 1 120px
    }
    &__number-wrap{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    &__number-icon{
      width: 16px;
      height: 16px;
      text-align: center;
    }
    &__number{
      a{
        font-size: 12px;
        font-weight: bold;
        color: $Charcoal;
      }
    }
  }
}
@media screen and (min-width: 545px) {
  .header{
    &__contact{
      flex: 0 1 140px
    }
    &__number{
      a{
        font-size: 16px;
      }
    }
  }
}