.header-bg{
  position: relative;
  height: 38vw;
  &__img{
    width: 100%;
    height: 100%;
    background: url(/images/mobile/designers.jpg) no-repeat;
    background-size: cover;
  }
  &__overlay{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
  }
}