@media screen and (min-width: 320px) {
.menu{
  position: relative;
  z-index: 10000;
  &--bg{
    background: $DimGray;
  }
  &--bg-overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom:0;
    width: 100%;
    background: rgba(0, 0, 0, 0.41);
    z-index: 5;
    &.open{
      display: block;
    }
  }
  &-inner{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  &__title{
    h5{
      color: $White;
      margin: 0;
    }
  }
  &__nav{
    position: absolute;
    left: 0;
    top: 45px;
    right: 0;
    z-index: 5;
  }
  &__list{
    margin: 0;
  }
  &__item{
    background: $White;
    border-top: 1px solid $AthensGrey;
    display: none;
  }
  &__link{
    color: $DimGray;
    padding: 16px 20px;
    display: block;
    width: 100%;
    font-size: 16px;
    &:hover,
    &:focus{
      color: $Cinnabar;
    }
  }
}
}
.menu--bg-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.41);
  z-index: 5;
  &.open {
    display: block;
  }
}