@media screen and (min-width: 320px) {
.news-block{
  &-inner{
    padding: 20px 0;
  }
  &__title{
    h5{
      margin: 0 0 20px 0;
    }
  }
  &__new-date{
    font-size: 10px;
    color: $Cinnabar;
    margin: 0 0 10px 0;
  }
  &__new-title{
    margin: 0 0 20px 0;
    color: $Black;
  }
}
}
@media screen and (min-width: 545px) {
  .news-block {
    &__new-date {
      font-size: 12px;
    }
  }
}