.product-properties{
  &__list{
    margin-bottom: 25px;
  }
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__icon-wrap{
    display: flex;
    justify-content:center;
    align-self:center;
    border-radius: 50%  ;
    background: $Cinnabar;
    padding: 5px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    img{
      width: 100%;
      max-width: 25px;
      height: 100%;
      max-height: 25px;
    }
  }
  &__text{
    color: $DimGray
  }
}