@media screen and (min-width: 320px) {
.profiles {
  .bx-wrapper{
    border: 0;
    box-shadow: none;
    .bx-prev,
    .bx-next{
      border-radius: 50%;
      top: 180px;
    }
    .bx-prev{
      background: $Cinnabar url(/images/mobile/slider-control/angle-left-solid-white.svg) no-repeat 50%;
      background-size: 20px 20px;
      left: 40px;
    }
    .bx-next{
      background: $Cinnabar url(/images/mobile/slider-control/angle-right-solid-white.svg) no-repeat 50%;
      background-size: 20px 20px;
      right: 40px;
    }
    .bx-pager{
      display: none;
    }
  }
  &__item {
    width: 270px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  &__img {
    //width: 100%;
    width: auto;
    height: 150px;
    flex: 1 1 100%;
    //object-fit: cover;
  }
  &__item-title {
    margin: 10px 0 0 0;
    text-align: center;
    padding: 15px 0 5px 0;
  }
  &__text {
    margin: 15px 0 0 0;
    //height: 100px;
    overflow: hidden;
  }
}
}

@media screen and (min-width: 545px) {
  .profiles {
    .bx-wrapper {
      margin-bottom: 20px;
      .bx-next,
      .bx-prev{
        top: 270px;
      }
    }
    &__img {
      height: 235px;
    }
  }
}
@media screen and (min-width: 620px) {
  .profiles {
    .bx-wrapper {
      .bx-next,
      .bx-prev{
        top: 290px;
      }
    }
    &__img {
      height: 260px;
    }
  }
}
