@media screen and (min-width: 320px) {
.projects{
  &-inner{
    padding: 20px 0;
    .bx-wrapper{
      border: 0;
      box-shadow: none;
      margin: 0;
    }
  }
  &__nav-wrap{
    display: flex;
    flex-flow: row wrap;
    margin: 0 -3px 20px -3px;
  }
  &__slide-btn{
    font-size: 12px;
    border: 1px solid $Cinnabar;
    background: $White;
    color: $Cinnabar;
    padding: 8px 13px;
    margin: 3px;
    &.active{
      background: $Cinnabar;
      color: $White;
    }
  }
  &__slider{
    height: 100%;
    img{
      width: 100%;
      height: calc(100% - 55px);
      object-fit: cover ;
    }
  }
  &__slide{
    height: 100%;
  }
  &__btn-catalog-wrap{
    text-align: center;
  }
  &__btn-catalog{
    margin-top: 10px;
    padding: 11px 35px;
    display: inline-block;
    svg{
      width: 7px;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
  &__title-wrap{

  }
  &__title{
    font-weight:bold;
    margin: 0 0 20px 0;
  }
  &__sub-title{
    color: $VeryLightGrey;
    margin: 0 0 20px 0;
  }
}


  #projects__slider-catalog{
      .bx-controls-direction a {
        border-radius: 50%;
        top: 48%;
        width: 40px;
        height: 40px;
        z-index: 3;
      }
      .bx-prev {
        left: -10px;
        background: $White url(/images/mobile/slider-control/angle-left-solid.svg) no-repeat center;
        background-size: 20px 20px;
      }
      .bx-next {
        right: -10px;
        background: $White url(/images/mobile/slider-control/angle-right-solid.svg) no-repeat center;
        background-size: 20px 20px;
      }
  }
  #projects__slider-catalog{
      .projects__slider img{
        height: 100%;
      }
    }

}
@media screen and (min-width: 545px) {
  .projects {
    &__slide-btn {
      font-size: 16px;
    }
  }
}


