.reviews-list-wrap{}
.reviews-list{
  &__item{
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__name{
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: capitalize;
  }
  &__date{
    color: #ec461f;
    padding: 10px 0;
    font-size: 0.8rem;
  }
  &__text{
    font-size: 1.1rem;
    line-height: 1.3;
  }
  &__comment{
    &-wrap{
      padding: 15px 0 0 15px;
    }
      &__list{}
      &__item{
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      &__name{
        span{
          color: #ec461f;
        }
      }
      &__date{
        padding: 5px 0;
      }
      &__text{}
  }








}