.services-info {
  &-inner {
    padding: 20px 0;
  }
  &__title {
    h5 {
      margin-top: 0;
    }
  }
  &__text-wrap{
    &--hidden{
      height: 185px;
      overflow: hidden;
    }
  }
  .common-content {
    color: $DimGray;
    font-weight: 400;
    line-height: 1.4;
    & > *{
      margin-bottom: 30px;
    }
  }
  &__link {
    @include font('HeliosLight');
    font-weight: bold;
    color: $Rhino;
    svg {
      width: 8px;
      vertical-align: middle;
      margin-left: 10px;
    }
    &--hidden{
      display: none;
    }
  }
}