@media screen and (min-width: 320px) {
.strong-five{
  &-inner{
    padding-bottom: 20px;
  }
  &__title{}
  &__list{}
  &__item{
    margin-bottom: 10px;
  }
  &__icon-wrapper{
    font-size: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  &__icon{}
  &__number{
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: $White;
  }
  &__text{
    font-size: 13px;
    font-weight:bold;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
}
}
@media screen and (min-width: 545px) {
  .strong-five{
    &__text{
      font-size: 16px;
    }
    &__icon-wrapper{
      img{
        width: 50px;
      }
    }
    &__number{
      font-size: 16px;
      top: -5px;
    }
  }
}