.technical-catalog{
  display: flex;
  flex-flow: column;
  //align-items: center;
  //justify-content: center;
  text-align: center;
  padding: 25px 0;
  background: $Cinnabar;
  &__title{
    h4 {
      color: $White;
      margin: 0;
      font-weight: 400;
    }
    margin-bottom: 10px;
  }
  &__btn-wrap{
    width: 58%;
    margin: 0 auto;
  }
  &__btn{
    border: 2px solid $White;
    svg{
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-left: 10px;
    }
    &:hover,
    &:focus{
      opacity: .7;
    }
  }
}