.useful-article{
  &__list-wrap{
    margin-top: 35px;
  }
  &__list{
    display: block;
  }
  &__item{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__link{}
  &__img-wrap{
    position: relative;
  }
  &__img{
    width: 100%;
  }
  &__date{
    color: $White;
    background: $Cinnabar;
    padding: 7px 20px;
    position: absolute;
    position: absolute;
    bottom: 20px;
    right: 0;
  }
  &__title{
    color: $Black;
    margin: 15px 0 0 0;
  }
}

