.catalog {
  &__slider-top-wrap{
    margin-bottom: 25px;
    .projects {
      &__btn-catalog-wrap {
        display: none;
      }
    }
    .bx-wrapper {
      .bx-pager {
        .bx-pager-link {
          border: 2px solid $DimGray;
          background: $DimGray;
          &.active {
            background: $White;
          }
        }
      }
    }
  }
  &__slider-bottom-wrap {
    .projects {
      &__title-wrap,
      &__nav-wrap,
      &__btn-catalog-wrap{
        display: none;
      }
      &-inner{
        margin-bottom: 25px;
      }
    }
    .bx-controls-direction {
      //display: none;
    }

    .bx-wrapper {
      .bx-pager {
        .bx-pager-link {
          border: 2px solid $DimGray;
          background: $DimGray;
          &.active {
            background: $White;
          }
        }
      }
    }
  }
}
