.contact{
  &__title{

  }
  &__text{
    color: $DimGray;
    a{
      color: $DimGray;
      display: block;
    }
  }
  &__phones{
    margin-bottom: 30px;
    a{
      margin-bottom: 10px;
    }
  }
  &__map{
    iframe{
      width: 100%;
    }
  }
}