.dealers-form{
  &-wrap{
    margin: 20px 0;
  }
  &-inner{
    padding: 20px 0;
  }
  &__title{
    h5{
      margin: 0 0 15px 0;
    }
  }
  &__input{
    width: 100%;
    padding: 10px;
    border: 0;
    margin-bottom: 10px;
    resize: none;
  }
  &__btn{
    margin: 0 auto;
    max-width: 120px;
    background: $DimGray;
    &:hover,
    &:focus{
      opacity: .7;
    }
  }
}
.dealers-form{
  .dealers-form__input::-webkit-input-placeholder{
    color: $MayaBlue;
  }
  .dealers-form__input:-moz-placeholder{
    color: $MayaBlue;
  }
  .dealers-form__input::-moz-placeholder{
    color: $MayaBlue;
  }
  .dealers-form__input:-ms-input-placeholder{
    color: $MayaBlue;
  }
  .dealers-form__input::-ms-input-placeholder{
    color: $MayaBlue;
  }
  .dealers-form__input::placeholder{
    color: $MayaBlue;
  }
}
