@media screen and (min-width: 320px) {
  .main-slider-wrapper {
    .bx-wrapper {
      border: 0;
      box-shadow: none;
      overflow: hidden;
      margin-bottom: 0;
      .main-slider__elemtn{
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          //min-height: 400px;
          //object-fit: cover;
        }
      }
      .bx-controls-direction a {
        border-radius: 50%;
        top: 48%;
        width: 40px;
        height: 40px;
        z-index: 3;
      }
      .bx-prev {
        left: -10px;
        background: $White url(/images/mobile/slider-control/angle-left-solid.svg) no-repeat center;
        background-size: 20px 20px;
      }
      .bx-next {
        right: -10px;
        background: $White url(/images/mobile/slider-control/angle-right-solid.svg) no-repeat center;
        background-size: 20px 20px;
      }
      .bx-pager {
        bottom: 50px;
        display: none;
        a {
          background: $White;
          &.active {
            border: 2px solid white;
            background: transparent;
          }
        }
      }
      .bx-caption {
        background: $Canary;
        display: flex;
        align-items: center;
        padding: 0 20px;
        span {
          color: $Black;
          font-size: 15px;
          font-weight: bold;
        }
        img {
          width: 8px;
        }
      }
    }
  }

  .link {
    &-group-inner {
      padding: 20px 0;
    }
    &__btn {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        display: block;
        width: 100%;
        max-width: 210px;
        margin: 0 auto;
        padding: 12px 20px;
      }
    }
  }

  .main-video-wrap {
    &.main-video-wrap--mb {
      margin-bottom: 20px;
    }
    .main-video {
      overflow: hidden;
      max-width: 100%;
      padding-bottom: 56.25%;
      height: auto;
      iframe {
        position: absolute;
        top: 0;
        left: 20px;
        width: calc(100% - 40px);
        height: 100%;
      }
      &__title {
        h6 {
          color: $DimGray;
          margin: 10px 0 0 0;
        }
      }
    }
  }

  .main-projects-wrap {
    .projects__btn-catalog {
      margin-top: 10px;
    }
    .projects__slider{
      img{
        height: calc(100% - 55px);
      }
    }
    .projects__title-wrap {
      display: none;
    }
    .bx-controls-direction a {
      border-radius: 50%;
      top: 48%;
      width: 40px;
      height: 40px;
      z-index: 3;
    }
    .bx-prev {
      left: -10px;
      background: $White url(/images/mobile/slider-control/angle-left-solid.svg) no-repeat center;
      background-size: 20px 20px;
    }
    .bx-next {
      right: -10px;
      background: $White url(/images/mobile/slider-control/angle-right-solid.svg) no-repeat center;
      background-size: 20px 20px;
    }
  }

  .main-news-wrap {
    &__more-news-btn {
      margin-top: 15px;
      a {
        color: $Rhino;
        svg {
          width: 8px;
          margin-left: 10px;
          vertical-align: middle;
        }
      }
    }
  }
}

@media screen and (min-width: 545px) {
  .link {
    &-group-inner {
      display: flex;
      flex-flow: row wrap;
      padding: 20px 0 0 0;
    }
    &__btn {
      margin-bottom: 0;
      margin-right: 10px;
      flex: 1 1 calc(100% / 3);
      max-width: 32%;
      &:last-child {
        margin-right: 0;
      }
      a {
        padding: 12px 0;
      }
    }
  }

}