.projects-page{
  &__title{
    h5{
      margin-bottom: 15px;
    }
  }
  .projects-inner{
    padding-top: 0;
  }
  .projects__slide .projects__title-wrap{
    display: none;
  }
  .projects{
    margin-bottom: 30px;
    .bx-wrapper {
      .bx-pager {
        .bx-pager-link {
          border: 2px solid $DimGray;
          background: $DimGray;
          &.active {
            background: $White;
          }
        }
      }
    }
  }
}