// Global CSS

$Black: #000000;
$White: #ffffff;
$Cinnabar: #EC461F;
$DimGray: #848484;
$Charcoal: #444444;
$Canary: #E8FF8D;
$MayaBlue :#50B1FE;
$Rhino: #444A58;
$Gondola: #363636;
$Gainsboro: #E5E5E5;
$SummerSky: #4DA1E3;
$Canary: #E8FF8D;
$VeryLightGrey: #CECECE;
$AthensGrey: #E3E4E4;

*{
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  max-width: 768px;
}

@mixin font-face($name, $path,$type , $weight) {
  @font-face {
    font-family: $name;
    src: url('../fonts/' + $path) format($type);
    font-style: normal;
    font-weight: $weight;
  }
}

@include font-face('HeliosLight', 'HeliosLight.ttf', 'truetype', 100);
@include font-face('PFDinTextPro', 'PFDinTextPro-Regular.ttf', 'truetype', 100);


@mixin font($family, $size: 15px){
  font-family: $family, sans-serif;
  font-size: $size;
}
body {
  @include font('PFDinTextPro', 15px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: PFDinTextPro, sans-serif;
}
h1,.h1 {font-size: 36px;}
h2,.h2 {font-size: 30px;}
h3,.h3 {font-size: 26px;}
h4,.h4 {font-size: 18px;}
h5,.h5 {font-size: 15px;}
h6,.h6 {font-size: 13px;}

@media screen and (min-width: 545px) {
  body {
    font-size: 17px;
  }
  //h1,.h1 {font-size: 36px;}
  //h2,.h2 {font-size: 30px;}
  //h3,.h3 {font-size: 26px;}
  h4,.h4 {font-size: 21px;}
  h5,.h5 {font-size: 18px;}
  h6,.h6 {font-size: 15px;}

  @mixin font($family, $size: 17px){
    font-family: $family, sans-serif;
    font-size: $size;
  }
}

button, input, optgroup, select, textarea {
  font-family: PFDinTextPro, sans-serif;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

@mixin border($color: transparent, $width: 1px, $style: solid) {
  border: {
    color: $color;
    width: $width;
    style: $style;
  }
}
@mixin border-top($color: transparent, $width: 1px, $style: solid) {
  border-top: {
    color: $color;
    width: $width;
    style: $style;
  }
}
@mixin border-right($color: transparent, $width: 1px, $style: solid) {
  border-right: {
    color: $color;
    width: $width;
    style: $style;
  }
}
@mixin border-bottom($color: transparent, $width: 1px, $style: solid) {
  border-bottom: {
    color: $color;
    width: $width;
    style: $style;
  }
}
@mixin border-left($color: transparent, $width: 1px, $style: solid) {
  border-left: {
    color: $color;
    width: $width;
    style: $style;
  }
}

img {
  max-width: 100%;
  height: auto;
}
.link{
  text-decoration: none;
}

.container {
  padding: 0 20px;
  display: block;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.btn {
  display: block;
  background: $Cinnabar;
  padding: 8.5px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 16px;

  &--cinnabar{
    background: $Cinnabar;
  }
  &--dimgray{
    background: $DimGray;
  }
  &--mayablue{
    background: $MayaBlue;
  }
  &--rhino{
    background: $Rhino;
  }
  &--gondola{
    background: $Gondola;
  }

  &:hover,
  &:focus{
    opacity: 0.7;
    transition: opacity .3s ease-in-out;
  }
}

.block--bg-gainsboro{
  background: $Gainsboro;
}

.uppercase{
  text-transform: uppercase;
}

//::placeholder{
//  color: $MayaBlue;
//}
//:-ms-input-placeholder{
//  color: $MayaBlue;
//}
//::-ms-input-placeholder{
//  color: $MayaBlue;
//}

select::-ms-expand {
  display: none;
}
.catalog__slider-top-wrap,
.projects{
  .bx-controls-direction a {
    border-radius: 50%;
    top: 48%;
    width: 40px;
    height: 40px;
    z-index: 3;
  }
  .bx-prev {
    left: -10px;
    background: $White url(/images/mobile/slider-control/angle-left-solid.svg) no-repeat center;
    background-size: 20px 20px;
  }
  .bx-next {
    right: -10px;
    background: $White url(/images/mobile/slider-control/angle-right-solid.svg) no-repeat center;
    background-size: 20px 20px;
  }
}

#projects__slider-catalog {
  .projects__slide img {
    height: 100%;
  }
}

.catalog__slider-bottom-wrap {
  #projects__slider {
    .projects__slide img {
      height: 100%;
    }
  }
}
.projects-page {
  #projects__slider {
    .projects__slide img {
      height: 100%;
    }
  }
}