footer.footer
    .footer-inner
        .container
            .footer__menu
                ul.list-unstyled
                    li
                        a(href='#') Контакты
                    li
                        a(href='#') Отзывы
                    li
                        a(href='#') Обратная связь

            .footer__number-wrap
                .footer__icon
                    img(src='/images/mobile/footer-icon.png')
                .footer__number
                    a(href='tel:+37529333306').link + 37533 33 33 06
                    a(href='tel:+37529333306').link + 37529 33 33 06

            .footer__address-wrap
                .footer__address.
                    Минск, Логойский тракт, 50, каб. 335
                .footer__email
                    a(href='mailto:office@alteza.by').link office@alteza.by

            .footer__time-work-wrap
                .footer__time-work Время работы: ПН - ПТ 9:00 - 18:00 Обед: 13:00 - 14:00



    .footer__social-wrap
        a(href='#').link
            .container
                .footer__social
                    img(src='/images/mobile/icon_facebook.png')
                    span Мы в facebook
    .footer__copy-wrap
        .container
            .footer__copy © 2018 Alteza. Все права защищены
