header.header
    .header__inner
        .container
            .header__btn-group
                a(href='#' class='btn btn--cinnabar').
                    Заказат звонок
                a(href='#' class='btn btn--dimgray').
                    Отзывы
            .header__contact-group
                .header__logo-wrap
                    a(href='#').header__logo
                        img(src='/images/mobile/logo.png')
                .header__contact
                    .header__number-wrap
                        span.header__number-icon
                            img(src='/images/mobile/icon-m.png')
                        span.header__number
                            a(href='tel:+37529333306').link + 37533 33 33 06
                    .header__number-wrap
                        span.header__number-icon
                            img(src='/images/mobile/icon-v.png')
                        span.header__number
                            a(href='tel:+37529333306').link + 37529 33 33 06