meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
link(rel='stylesheet', href='/css/libs/normalize.min.css')
link(rel='stylesheet', href='/css/libs/jquery.bxslider.min.css')
link(rel='stylesheet', href='/css/main.css')