.menu.menu--bg#menu
    .container
        .menu-inner
            include burger
            .menu__title
                h5 Каталог
            nav.menu__nav
                ul.menu__list.list-unstyled
                    li.menu__item
                        a(href='index.html').menu__link.link Главная
                    li.menu__item
                        a(href='catalog.html').menu__link.link Каталог
                    li.menu__item
                        a(href='projects-page.html').menu__link.link Проекты
                    li.menu__item
                        a(href='about.html').menu__link.link О компании
                    li.menu__item
                        a(href='dealers.html').menu__link.link Дилерам
                    li.menu__item
                        a(href='designers.html').menu__link.link Дизайнерам
                    li.menu__item
                        a(href='contacts.html').menu__link.link Контакты
                    li.menu__item
                        a(href='reviews.html').menu__link.link Отзывы


.menu--bg-overlay