.news-block.block--bg-gainsboro
    .container
        .news-block-inner
            .news-block__title
                h5 Новости
            ul.new-block__list.list-unstyled
                li.news-block__item
                    a(href='#').link.news-block__link
                        .news-block__new-date.
                            13.05.2018
                        h6.news-block__new-title Новые каталоги перфорированных потол- ков от ALTEZA
                li.news-block__item
                    a(href='#').link.news-block__link
                        .news-block__new-date.
                            13.05.2018
                        h6.news-block__new-title Новые каталоги перфорированных потол- ков от ALTEZA
                li.news-block__item
                    a(href='#').link.news-block__link
                        .news-block__new-date.
                            13.05.2018
                        h6.news-block__new-title Новые каталоги перфорированных потол- ков от ALTEZA
                li.news-block__item
                    a(href='#').link.news-block__link
                        .news-block__new-date.
                            13.05.2018
                        h6.news-block__new-title Новые каталоги перфорированных потол- ков от ALTEZA
                li.news-block__item
                    a(href='#').link.news-block__link
                        .news-block__new-date.
                            13.05.2018
                        h6.news-block__new-title Новые каталоги перфорированных потол- ков от ALTEZA
                li.news-block__item
                    a(href='#').link.news-block__link
                        .news-block__new-date.
                            13.05.2018
                        h6.news-block__new-title Новые каталоги перфорированных потол- ков от ALTEZA
