.product-properties
    .container
        ul.product-properties__list.list-unstyled
            li.product-properties__item
                .product-properties__icon-wrap
                    img(src='/images/mobile/product-properties/fire.png')
                .product-properties__text Не поддерживают горение (г2)
            li.product-properties__item
                .product-properties__icon-wrap
                    img(src='/images/mobile/product-properties/water.png')
                .product-properties__text Водо и пыленепроницаемость
            li.product-properties__item
                .product-properties__icon-wrap
                    img(src='/images/mobile/product-properties/thunder.png')
                .product-properties__text Электрическая нейтралльность
            li.product-properties__item
                .product-properties__icon-wrap
                    img(src='/images/mobile/product-properties/garanty.png')
                .product-properties__text Срок службы до 25 лет
