.profiles
    .container
        .profiles__title
            h5 Уникальные профили
        .profiles__slider#profiles__slider
            .profiles__item
                img(src='/images/mobile/profiles/classic.jpg').profiles__img
                h6.profiles__item-title.uppercase Classic
                p.profiles__text <strong>Classic</strong> - cтеновой профиль от ALTEZA для выполнения монтажа по принципу „парящего потолка”. Теоретическая масса - 175гр./м.пог. Служит для монтажей натяжных потолков любых форматов максимальных размеров. Унифицирован под все существующие гарпуны и заглушки. Перфорация монтажных отверстий через - 6 см. Рекомендуемое крепление - через 24 см. Идеально сочетается в монтаже с профилем Comfort.
            .profiles__item
                img(src='/images/mobile/profiles/comfort.jpg').profiles__img
                h6.profiles__item-title.uppercase Comfort
                p.profiles__text <strong>Комфорт – </strong> классический профиль: похожую конструкцию использует большинство компаний, предлагающих натяжные потолки, но именно в «Алтеза» профиль надежнее и прочнее – стенки профиля в полтора раза толще. <strong>Comfort</strong> -стеновой профиль от ALTEZA под декоративную заглушку – лучший в классе тяжёлых профилей. Теоретическая масса - 205гр./м. пог. Служит для монтажа натяжных потолков любых форм максимальных размеров. Унифицирован под все существующие гарпуны и заглушки. Перфорация монтажных отверстий- через - 6 см. Рекомендуемое крепление-через - 24 см. Идеально сочетается в монтаже с профилем Classic.
            .profiles__item
                img(src='/images/mobile/profiles/elite.jpg').profiles__img
                h6.profiles__item-title.uppercase Elite
                p.profiles__text.
                    <strong>Elite</strong> - стеновой декоративный профиль от ALTEZA - для монтажа
                    натяжных потолков с видимым скруглённым багетом. <br>
                    <br>
                    Производится в вариантах: <br>
                    - крашенный белый (полимер) <br>
                    - анодированный (золото /серебро/бронза). <br>
                    - хорошо сочетается с установленными в помещениях шкафами-купе. <br>
                    - позволяет обеспечить вентиляцию пространства за
                    плёнкой натяжного потолка через специальные отверстия в профиле
                    и едва заметную (2мм) щель между багетом и стеной. <br>
                    - идеален для монтажа в санузлах, кухнях, мансардах. Рекомендуемое
                    крепление через - 24-40см.
                    Монтаж натяжного потолка возможен только на специальный гарпун ALTEZA ПХ-3
                    - монтаж традиционными инструментами <br>
                    <br>
                    Дополнительно предлагается: <br>
                    - сверление отверстий

            .profiles__item
                img(src='/images/mobile/profiles/elegance.jpg').profiles__img
                h6.profiles__item-title.uppercase Elegance
                p.profiles__text.
                    <strong>Elegance</strong> - многоцелевой стеновой профиль от ALTEZA сочетает в себе множество возможностей, не имеет аналогов на рынке. В качестве декоративной заглушки используется мебельная С-планка (более 40 вариантов фактур и цветов). Позволяет обеспечить вентиляцию натяжного потолка через специальные отверстия в профиле и едва заметную (2мм) щель между С-планкой и стеной.<br>
                    <br>
                    Может использоваться: <br>
                    - для монтажа натяжного потолка в нишу, где монтаж на традиционный профиль невозможен. <br>
                    - для монтажа натяжного потолка в помещениях, подверженных поддувам. <br>
                    - для монтажа натяжного потолка на базовый потолок с отступом от стен. <br>
                    <br>
                    Особенности: <br>
                        - демонтаж полотен без повреждений. <br>
                        - безотходный в использовании (не требуется гибка углов, допускается монтаж с зазорами по профилям до 7мм) <br>
                        <br>
                        Дополнительно предлагается: <br>
                        - сверление отверстий <br>
                        - напил.
            .profiles__item
                img(src='/images/mobile/profiles/climatic.jpg').profiles__img
                h6.profiles__item-title.uppercase Climatic
                p.profiles__text.
                    <strong>Climatic</strong>  - cтеновой „Дышащий” профиль от ALTEZA для монтажа натяжных потолков в помещениях подверженных поддувам. Теоретическая масса - 210гр./м.пог. В комбинации со специальной заглушкой (ALTEZA ПХ-5) позволяет обеспечить вентиляцию пространства, за плёнкой натяжного потолка через специальные отверстия в профиле и едва заметную (2мм) щель между заглушкой и стеной. Идеален для монтажа в санузлах, кухнях, мансардах. Рекомендуемое крепление через - 24 см.
                    <br>
                    Дополнительно предлагается: <br>
                    - сверление отверстий <br>
                    - напил.
            .profiles__item
                img(src='/images/mobile/profiles/antique.jpg').profiles__img
                h6.profiles__item-title.uppercase Antique
                p.profiles__text.
                    <strong>Antique</strong> - стеновой декоративный профиль от ALTEZA для монтажа
                    натяжных потолков с видимым классическим багетом .
                    <br>
                    <br>
                    Производится в вариантах:<br>
                    - крашенный белый (полимер)<br>
                    - анодированный (золото /серебро/бронза). <br>
                    - хорошо сочетается с установленными в помещениях шкафами-купе
                    и классическими интерьерами. <br>
                    - позволяет обеспечить вентиляцию пространства за
                    плёнкой натяжного потолка через специальные отверстия в профиле
                    и едва заметную (2мм) щель между заглушкой и стеной. <br>
                    - идеален для монтажа в санузлах, кухнях, мансардах.
                    Рекомендуемое крепление-через - 24-40см.
                    Монтаж натяжного потолка возможен только на специальный гарпун ALTEZA ПХ-3 <br>
                    - монтаж традиционными инструментами. <br>

                    <br>
                    Дополнительно предлагается: <br>
                    - сверление отверстий <br>
                    - фрезеровка пазов (входит в стоимость профиля)
            .profiles__item
                img(src='/images/mobile/profiles/optima.jpg').profiles__img
                h6.profiles__item-title.uppercase Classic
                p.profiles__text.
                    <strong>Optima</strong> - конструкционный профиль от ALTEZA для изготовления ступенчатого перехода, а также для замкнутых конструкций. <br>
                    <br>
                    - высота ступени - 72,5 мм. <br>
                    - крепление к базовому основанию с помощью уголков - 50х90. <br>
                    - соединение профиля с помощью стыковочного штифта (гвоздя) 2 мм. <br>
                    - возможно изготовление любых наружных и внутренних 3D угловых элементов. <br>
                    - минимальный радиус закругления - 10см. <br>
                    - консольный нижний элемент отбойника - делает возможным идеальное, без сегментаций, закругление на изгибах. Возможна рихтовка отбойника для придания абсолютно ровного закругления на малых радиусах. <br>
                    - возможность изготовления многоуровневых конструкций своими силами на месте монтажа. <br>
                    - применимы любые заглушки для разделительных профилей (сепараторов) с посадочным размером - 7,5 мм <br>
                    - для перехода по стене возможно использование стандартных потолочных профилей с креплением к тыльной стенке профиля (не требуется крепить профиль подъёма к стене). <br>
                    - демонтаж полотна без повреждений. <br>
                    <br>
                    Дополнительно предлагается: <br>
                    - угловой элемент R15 <br>
                    - угловой элемент R30 <br>
                    - изготовление стандартных конструкций по каталогу ALTEZA. <br>
                    - изготовление нестандартных конструкций по эскизам заказчика. <br>
                    - напил.
