.projects
    .container
        .projects-inner
            .projects__nav-wrap#projects__nav-wrap
                a(data-slide-index="0" href="").projects__slide-btn.btn.
                    Мат
                a(data-slide-index="1" href="").projects__slide-btn.btn.
                    Глянец
                a(data-slide-index="2" href="").projects__slide-btn.btn.
                    Сатин
                a(data-slide-index="3" href="").projects__slide-btn.btn.
                    Транспарент
                a(data-slide-index="4" href="").projects__slide-btn.btn.
                    Art Print
                a(data-slide-index="5" href="").projects__slide-btn.btn.
                    Фактура
                a(data-slide-index="6" href="").projects__slide-btn.btn.
                    С отверстиями
            .slider-wrap.slider-wrap--control-btn
                .projects__slider#projects__slider
                    .projects__slide
                        .projects__title-wrap
                            h5.projects__title Матовые натяжные потолки
                            h6.projects__sub-title Ширина: 3.2 метра Производитель: Китай
                        img(src='/images/mobile/project-slider/mat.jpg')
                        .projects__btn-catalog-wrap
                            a(href='#').projects__btn-catalog.btn.btn--mayablue.link Перейти в каталог
                                svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                    path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")

                    .projects__slide
                        .projects__title-wrap
                            h5.projects__title Матовые натяжные потолки
                            h6.projects__sub-title Ширина: 3.2 метра Производитель: Китай
                        img(src='/images/mobile/project-slider/gloss.jpg')
                        .projects__btn-catalog-wrap
                            a(href='#').projects__btn-catalog.btn.btn--mayablue.link Перейти в каталог
                                svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                    path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")

                    .projects__slide
                        .projects__title-wrap
                            h5.projects__title Матовые натяжные потолки
                            h6.projects__sub-title Ширина: 3.2 метра Производитель: Китай
                        img(src='/images/mobile/project-slider/satin.jpg')
                        .projects__btn-catalog-wrap
                            a(href='#').projects__btn-catalog.btn.btn--mayablue.link Перейти в каталог
                                svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                    path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")

                    .projects__slide
                        .projects__title-wrap
                            h5.projects__title Матовые натяжные потолки
                            h6.projects__sub-title Ширина: 3.2 метра Производитель: Китай
                        img(src='/images/mobile/project-slider/transparent.jpg')
                        .projects__btn-catalog-wrap
                            a(href='#').projects__btn-catalog.btn.btn--mayablue.link Перейти в каталог
                                svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                    path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")

                    .projects__slide
                        .projects__title-wrap
                            h5.projects__title Матовые натяжные потолки
                            h6.projects__sub-title Ширина: 3.2 метра Производитель: Китай
                        img(src='/images/mobile/project-slider/art-print.jpg')
                        .projects__btn-catalog-wrap
                            a(href='#').projects__btn-catalog.btn.btn--mayablue.link Перейти в каталог
                                svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                    path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")

                    .projects__slide
                        .projects__title-wrap
                            h5.projects__title Матовые натяжные потолки
                            h6.projects__sub-title Ширина: 3.2 метра Производитель: Китай
                        img(src='/images/mobile/project-slider/textured.jpg')
                        .projects__btn-catalog-wrap
                            a(href='#').projects__btn-catalog.btn.btn--mayablue.link Перейти в каталог
                                svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                    path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")

                    .projects__slide
                        .projects__title-wrap
                            h5.projects__title Матовые натяжные потолки
                            h6.projects__sub-title Ширина: 3.2 метра Производитель: Китай
                        img(src='/images/mobile/project-slider/with-holes.jpg')
                        .projects__btn-catalog-wrap
                            a(href='#').projects__btn-catalog.btn.btn--mayablue.link Перейти в каталог
                                svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                    path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")
