.services-info.block--bg-gainsboro
    .container
        .services-info-inner
            .services-info__text-wrap.services-info__text-wrap--hidden.common-content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deserunt dicta dolores expedita porro quam sit ut voluptas! Asperiores dicta eaque explicabo, facilis id illum ipsum labore laborum molestias necessitatibus non nulla rerum saepe sapiente velit veritatis voluptate.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deserunt dicta dolores expedita porro quam sit ut voluptas! Asperiores dicta eaque explicabo, facilis id illum ipsum labore laborum molestias necessitatibus non nulla rerum saepe sapiente velit veritatis voluptate.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deserunt dicta dolores expedita porro quam sit ut voluptas! Asperiores dicta eaque explicabo, facilis id illum ipsum labore laborum molestias necessitatibus non nulla rerum saepe sapiente velit veritatis voluptate.

            a(href='#').services-info__link.link#services-info-btn Читать дальше
                svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                    path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")