.strong-five
    .container
        .strong-five-inner
            h5.strong-five__title Сильная пятёрка Alteza
            ul.strong-five__list.list-unstyled
                li.strong-five__item
                    .strong-five__icon-wrapper
                        img(src='/images/mobile/strong-five-icon.png').strong-five__icon
                        span.strong-five__number 1
                    p.strong-five__text Собственное производство
                li.strong-five__item
                    .strong-five__icon-wrapper
                        img(src='/images/mobile/strong-five-icon.png').strong-five__icon
                        span.strong-five__number 2
                    p.strong-five__text Качественные материалы
                li.strong-five__item
                    .strong-five__icon-wrapper
                        img(src='/images/mobile/strong-five-icon.png').strong-five__icon
                        span.strong-five__number 3
                    p.strong-five__text Лучшие системы профилей
                li.strong-five__item
                    .strong-five__icon-wrapper
                        img(src='/images/mobile/strong-five-icon.png').strong-five__icon
                        span.strong-five__number 4
                    p.strong-five__text Монтаж
                li.strong-five__item
                    .strong-five__icon-wrapper
                        img(src='/images/mobile/strong-five-icon.png').strong-five__icon
                        span.strong-five__number 5
                    p.strong-five__text 25 лет гарантии

