.useful-article__list-wrap
    ul.useful-article__list.list-unstyled
        li.useful-article__item
            a(href='#').useful-article__link.link
                .useful-article__img-wrap
                    img(src='/images/mobile/article.png').useful-article__img
                    .useful-article__date 02/05/2018
                h5.useful-article__title Сравнение натяжных, подвестных и окрашенных потолков
        li.useful-article__item
            a(href='#').useful-article__link.link
                .useful-article__img-wrap
                    img(src='/images/mobile/article.png').useful-article__img
                    .useful-article__date 02/05/2018
                h5.useful-article__title Сравнение натяжных, подвестных и окрашенных потолков
        li.useful-article__item
            a(href='#').useful-article__link.link
                .useful-article__img-wrap
                    img(src='/images/mobile/article.png').useful-article__img
                    .useful-article__date 02/05/2018
                h5.useful-article__title Сравнение натяжных, подвестных и окрашенных потолков
        li.useful-article__item
            a(href='#').useful-article__link.link
                .useful-article__img-wrap
                    img(src='/images/mobile/article.png').useful-article__img
                    .useful-article__date 02/05/2018
                h5.useful-article__title Сравнение натяжных, подвестных и окрашенных потолков
        li.useful-article__item
            a(href='#').useful-article__link.link
                .useful-article__img-wrap
                    img(src='/images/mobile/article.png').useful-article__img
                    .useful-article__date 02/05/2018
                h5.useful-article__title Сравнение натяжных, подвестных и окрашенных потолков
