doctype html
html(lang="en")
    head
        include template/head
            title= 'Main'
    body
        .wrapper.about
            include template/header
            include template/menu
            include template/header-bg

            include template/content-text-title

            include template/service-info

            include template/content-text-title

            include template/btn-measurement
            include template/footer

    include template/scripts