doctype html
html(lang="en")
    head
        include template/head
            title= 'Main'
    body
        .wrapper.article
            include template/header
            include template/menu

            .container
                .article__title
                    h5 Сравнение натяжных, подвестных и окрашенных потолков
                .article__date.news-block__new-date.
                    13/05/2018
                .article__text
                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum
                    p.
                        is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.

            include template/btn-measurement
            include template/footer

    include template/scripts