doctype html
html(lang="en")
    head
        include template/head
            title= 'Main'
    body
        .wrapper.catalog
            include template/header
            include template/menu

            .catalog__slider-top-wrap
                .projects
                    .container
                        .projects-inner
                            .projects__nav-wrap
                                a(href="").projects__slide-btn.btn.
                                    Мат
                                a(href="").projects__slide-btn.btn.
                                    Глянец
                                a(href="").projects__slide-btn.btn.
                                    Сатин
                                a(href="").projects__slide-btn.btn.
                                    Транспарент
                                a(href="").projects__slide-btn.btn.
                                    Art Print
                                a(href="").projects__slide-btn.btn.
                                    Фактура
                                a(href="").projects__slide-btn.btn.
                                    С отверстиями
                            .projects__title-wrap
                                h5.projects__title.h1 Матовые натяжные потолки

                            .projects__slider.projects__slider-catalog#projects__slider-catalog
                                .projects__slide
                                    img(src='images/mobile/project-slider/mat.jpg')
                                    .projects__btn-catalog-wrap
                                        a(href='#').projects__btn-catalog.btn.btn--mayablue.link Перейти в каталог
                                            svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                                path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")
                                .projects__slide
                                    .projects__title-wrap
                                    img(src='images/mobile/project-slider/gloss.jpg')
                                    .projects__btn-catalog-wrap
                                        a(href='#').projects__btn-catalog.btn.btn--mayablue.link Перейти в каталог
                                            svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                                path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")

                                .projects__slide
                                    .projects__title-wrap
                                    img(src='images/mobile/project-slider/satin.jpg')
                                    .projects__btn-catalog-wrap
                                        a(href='#').projects__btn-catalog.btn.btn--mayablue.link Перейти в каталог
                                            svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                                path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")

                                .projects__slide
                                    .projects__title-wrap
                                    img(src='images/mobile/project-slider/transparent.jpg')
                                    .projects__btn-catalog-wrap
                                        a(href='#').projects__btn-catalog.btn.btn--mayablue.link Перейти в каталог
                                            svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                                path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")

                                .projects__slide
                                    .projects__title-wrap
                                    img(src='images/mobile/project-slider/art-print.jpg')
                                    .projects__btn-catalog-wrap
                                        a(href='#').projects__btn-catalog.btn.btn--mayablue.link Перейти в каталог
                                            svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                                path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")

                                .projects__slide
                                    .projects__title-wrap
                                    img(src='images/mobile/project-slider/textured.jpg')
                                    .projects__btn-catalog-wrap
                                        a(href='#').projects__btn-catalog.btn.btn--mayablue.link Перейти в каталог
                                            svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                                path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")

                                .projects__slide
                                    .projects__title-wrap
                                    img(src='images/mobile/project-slider/with-holes.jpg')
                                    .projects__btn-catalog-wrap
                                        a(href='#').projects__btn-catalog.btn.btn--mayablue.link Перейти в каталог
                                            svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                                path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")


            include template/product-properties
            include template/technical-catalog

            .catalog__slider-bottom-wrap
                .catalog__slider-bottom-wrap__tite
                    .container
                        h5 Матовые натяжные потолки в интерьере
                .slider-wrap.slider-wrap--control-btn.slider-wrap--hide-btn
                    include template/projects

            include template/service-info
            include template/btn-measurement
            include template/footer

    include template/scripts