doctype html
html(lang="en")
    head
        include template/head
            title= 'Main'
    body
        .wrapper.contact
            include template/header
            include template/menu

            .contact
                .container
                    h5.contact__title Главный офис
                    p.contact__text.
                        г. Минск, Логойский тракт, 50
                        (Бизнес-центр "Аквабел",  около строительного гипермаркета "Новоселкин")
                    p.contact__text.
                        223053 Минский район, район деревни Боровая 1, Главный корпус, каб. 335
                        Время работы: Пн - Пт с 9:00 до 18:00.
                    h5.contact__title Контактная информация
                    p.contact__text.contact__phones
                        a(href='tel:+37529333306').link +375 (29) 33-33-006 (Velcom)
                        a(href='tel:+37529333306').link +375 (33) 33-33-006 (MTS)
                    p.contact__text.contact__mail
                        a(href='mailto:office@alteza.by').link office@alteza.by

                .contact__map
                    iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A65531d468b1f480c4b7017b5091592da21c362dcafd242dc3773c368ed779865&amp;source=constructor"  height="400" frameborder="0")
                    //script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A65531d468b1f480c4b7017b5091592da21c362dcafd242dc3773c368ed779865&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true")



            include template/btn-measurement
            include template/footer

    include template/scripts