doctype html
html(lang="en")
    head
        include template/head
            title= 'Main'
    body
        .wrapper.dealers
            include template/header
            include template/menu
            include template/header-bg

            include template/content-text-title

            .dealers-form-wrap
                .dealers-form.block--bg-gainsboro
                    .container
                        .dealers-form-inner
                            .dealers-form__title
                                h5.uppercase Стать дилером
                            form(method="post" action="/order")
                                input(name='name' type='text' placeholder='Ваше имя').dealers-form__input
                                input(name='company' type='text' placeholder='Компания').dealers-form__input
                                input(name='phone' type='text' placeholder='Телефон').dealers-form__input
                                textarea(name='message' placeholder='Сообщение' rows="8").dealers-form__input
                                a(href='#').link.btn.dealers-form__btn Отправить



            include template/content-text-title

            include template/btn-measurement
            include template/footer

    include template/scripts