doctype html
html(lang="en")
    head
        include template/head
            title= 'Main'
    body
        .wrapper.designers
            include template/header
            include template/menu
            include template/header-bg

            include template/content-text-title
            include template/technical-catalog
            include template/content-text


            include template/btn-measurement
            include template/footer

    include template/scripts