doctype html
html(lang="en")
    head
        include template/head
            title= 'Main'
    body
        .wrapper
            include template/header
            include template/menu

            .main-slider-wrapper
                #main-slider.main-slider
                    a(href='#' target='_blank').main-slider__elemtn
                        img(src='img/16-slide-2.png' title="Подробнее").main-slider__image
                    a(href='#' target='_blank' ).main-slider__elemtn
                        img(src='img/alteza_banner_1.jpg' title="Подробнее").main-slider__image
                    a(href='#' target='_blank').main-slider__elemtn
                        img(src='img/alt-b1.png' title="Подробнее").main-slider__image
                    a(href='#' target='_blank').main-slider__elemtn
                        img(src='img/alt-b2.png' title="Подробнее").main-slider__image


            .link-group
                .container
                    .link-group-inner
                        .link__btn
                            a(href='#').link.btn.btn--mayablue  Конструктор потолков
                        .link__btn
                            a(href='#').link.btn.btn--rhino  Фото проектов
                        .link__btn
                            a(href='#').link.btn.btn--gondola  Акции и скидки


            include template/strong-five

            .main-video-wrap.main-video-wrap--mb
                //.container
                //    .main-video
                //        iframe(width="560" height="315" src="https://www.youtube.com/embed/t0TfQ5SR80I?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
                .container
                    video#video(width='100%' preload='auto' controls)
                        source(src='../../video.mp4')
                .container
                    .main-video__title
                        h6 Название видео, возможно и в две строчки


            include template/service-info


            .main-projects-wrap
                include template/projects

            .main-profiles
                include template/profiles

            .main-news-wrap
                include template/news
                .container
                    .main-news-wrap__more-news-btn
                        a(href='#').link Больше новостей
                            svg(aria-hidden="true" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512")
                                path(fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z")


            include template/btn-measurement

            include template/footer

    include template/scripts