doctype html
html(lang="en")
    head
        include template/head
            title= 'reviews'
    body
        .wrapper.dealers
            include template/header
            include template/menu
            include template/header-bg
            .container
                h1.h4 Отзывы о натяжных потолках в Минске
            .dealers-form-wrap

                .dealers-form.block--bg-gainsboro
                    .container
                        .dealers-form-inner
                            .dealers-form__title
                                h5.uppercase Оставить отзыв
                            form(method="post" action="/order")
                                input(name='name' type='text' placeholder='Ваше имя').dealers-form__input
                                textarea(name='message' placeholder='Текс отзыва' rows="6").dealers-form__input
                                a(href='#').link.btn.dealers-form__btn Отправить
            .reviews-list-wrap
                .container
                    ul.reviews-list.list-unstyled
                        li.reviews-list__item
                            .reviews-list__name Chack
                            .reviews-list__date 2018-09-24 10:00:00
                            .reviews-list__text Большое спасибо. Быстро и качественно. Я в восторге!!!!!
                            .reviews-list__comment-wrap
                                ul.reviews-list__comment__list.list-unstyled
                                    li.reviews-list__comment__item
                                        .reviews-list__comment__name <span> Ответ от:</span> Администор
                                        .reviews-list__comment__date.reviews-list__date 2018-09-24 10:00:00
                                        .reviews-list__comment__text Спасибо за ваш ответ.
                                    li.reviews-list__comment__item
                                        .reviews-list__comment__name <span> Ответ от:</span> Администор
                                        .reviews-list__comment__date.reviews-list__date 2018-09-24 10:00:00
                                        .reviews-list__comment__text Спасибо за ваш ответ.


            include template/btn-measurement
            include template/footer

    include template/scripts