doctype html
html(lang="en")
    head
        include template/head
            title= 'Main'
    body
        .wrapper.useful-articles
            include template/header
            include template/menu

            .container
                include template/useful-article

            include template/btn-measurement
            include template/footer

    include template/scripts