@media screen {

  @media (min-width: 576px) {
    .search {
      &-container {
        max-width: 540px;
      }
    }
  }
  @media (min-width: 768px) {
    .search {
      &-container {
        max-width: 720px;
      }
    }
  }
  @media (min-width: 992px) {
    .search {
      &-container {
        max-width: 960px;
      }
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px;
      .search {
        &-container {
          max-width: 1170px;
        }
      }
    }
  }

  @media (max-width: 1200px) {

    .filter-result {
      .deal-include {
        &__item {
          flex: 0 0 25%;
          max-width: 25%;
        }
      }
    }

    .blog-page {
      .blog {
        &__col-left {
          flex: 0 0 60%;
          max-width: 60%;
        }
        &__col-right {
          flex: 0 0 40%;
          max-width: 40%;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .search {
      min-height: auto;
      padding-bottom: 60px;
      padding-top: 80px;
      &-container {
        max-width: none;
        position: static;
      }
      &__form-wrap {
        height: auto;
        padding: 10px;
      }
      &__form {
        flex-flow: column;
      }
      &__input-group {
        flex: auto;
        margin-bottom: 8px;
        padding: 0;
      }
      //&__btn{
      //  width: 100% ;
      //  flex: 0 0 40px;
      //}
      &__custom-select {
        height: 40px;
      }
      &__fa-icon {
        line-height: 40px;
      }
      &__input-group {
        &.triangle {
          &:before {
            right: 25px;
          }
        }
      }
    }
    .btn--search {
      flex: 0 0 40px;
      width: 100%;
    }
    .search-container {
      padding: 0;
    }
    .slider {
      &__next {
        right: 10px;
      }
      &__prev {
        left: -20px;
      }
    }
    .banner {
      &-container {
        min-height: 370px;
      }
    }

    .error-page {
      height: auto;
      max-height: none;
    }

  }
  @media (max-width: 992px) {

    .header {
      height: 40px;

      .menu {
        justify-content: flex-end;
        height: 40px;
        &__list {
          position: fixed;
          top: 40px;
          padding: 15px;
          flex-flow: column;
          text-align: left;
          width: auto;
          background-color: #fff;
          right: -150%;
          transition: all .5s;
          z-index: 0;
          &.open {
            display: flex;
            right: 0;
            transition: all .3s;
          }
        }
        &__item {
          display: block;
        }
        &__link {
          padding: 15px 20px;
        }
        &-dropdown {
          &__btn {

            position: relative;
            padding: 9px 35px 8px 22px;
            border-radius: 0;
          }
        }
        .burger-wrap {
          display: inline-block;
        }
      }
      .logo {
        img {
          padding: 5px 0;
          max-height: 40px;
        }
      }
    }

    .search {
      padding-top: 60px;
    }

    .slider__control {
      display: none;
    }

    .banner {
      &-container {
        min-height: 320px;
      }
    }

    .footer {
      .link-footer {
        padding: 0 5px;
      }
      &__logo {
        min-width: auto;
        max-width: 150px;
      }
      .text-copy {
        margin-top: 20px;
      }

    }

    .deal-single-page {
      .search {
        padding-bottom: 20px;
      }
      .deal-single {
        &__title {
          padding-top: 0;
        }
      }

      .deal-include {
        justify-content: center;
        margin: 25px 0;
        &__img {
          max-width: 60px;
          margin: 0 auto;
          img {
            width: 100%;
          }
        }
        &__item {
          flex: 0 0 20%;
          max-width: 20%;
        }
      }
      .share {
        margin-bottom: 30px;
      }
      &__deal-wrap {
        margin-bottom: 30px;
      }
      .destinations-list {
        margin-bottom: 35px;
        &__link{
          display: flex;
          flex-flow: column;
        }
        &__form{
          margin-left: 0;
        }
      }
    }

    .deal-info {
      border-left: 0;
      &-bottom {
        img {
          margin-bottom: 0;
        }
      }
    }

    .landing-page {
      .description-deal {
        &__text {
          padding-top: 0;
        }
      }
    }

    .blog-page {
      .search {
        margin-bottom: 30px;
      }
      .pagination {
        margin-top: 15px;
        margin-bottom: 30px;
      }
      .subscribe {
        margin-bottom: 30px;
      }

      .blog {
        &__col-left {
          flex: 0 0 100%;
          max-width: 100%;
        }
        &__col-right {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }

    }

    .search-page {
      .filter {
        &-btn-wrap {
          display: block;
        }
      }
      .search__col-left {
        display: none;
        &.open {
          display: block;
        }
      }
      .filter-result{
        margin: 0 auto;
      }
    }

  }
  @media (max-width: 768px) {

    .banner {
      &-container {
        margin-bottom: 40px;
      }
      &__text {
        bottom: 20px;
        left: 15px;
      }
      &__cost {
        font-size: 14px;
        span {
          font-size: 14px;
        }
      }
      &__tour-info {
        font-size: 14px;
      }
    }
    .partners {
      margin-bottom: 30px;
    }
    .banner-grid {
      &-container {
        margin-bottom: 30px;
      }
      &__text {
        bottom: 20px;
        left: 0;
      }
    }
    .partners {
      &__item {
        padding-bottom: 15px;
      }
    }
    .footer-grid {
      flex-flow: row wrap;
      &__item {
        max-width: 50%;
        flex: 0 0 50%;
        &:nth-child(2) {
          order: 2;
          max-width: 100%;
          flex: 0 0 100%;
        }
        &:last-child {
          order: 1;
        }
      }
    }

    .deal-single-page {
      .deal-single {
        &__title {
          padding-top: 15px;
        }
      }
      .deal-info {
        &-bottom {
          img {
            margin-bottom: 0;
          }
        }
      }
      .destinations-list{
        &__link{
          display: inline-block;
        }
        &__form{
          margin-left: 10px;
        }
      }
    }

    .landing-page {
      .description-deal {
        margin-bottom: 30px;
        &__image{
          margin-bottom: 25px;
          img{
            width: 100%;
          }
        }
      }
      &__btn-wrap {
        margin: 20px 0 50px;
      }
      .subscribe {
        margin-bottom: 30px;
      }
    }

    .filter-result {
      .deal-include {

        &__item {
          flex: 0 0 25%;
          max-width: 25%;
        }
      }
      &__col-wrap{
        height: 100%;
      }
      &__img-wrap {
        padding-left: 0;
        min-height: 260px;
      }
      &__item {
        //padding: 0 15px;

      }
      &__col-right {
        flex-flow: row wrap;
        align-items: center;
      }
      &__value {
        margin-bottom: 0;
      }
      .deal__info {
        //margin-bottom: 0;
      }
    }
  }
  @media (max-width: 575px) {
    .header {
      .menu {
        &-dropdown {
          &__btn {
            padding: 10px 35px 10px 22px;
          }
        }
      }
    }

    .short-deals {
      &__btn {
        display: block;
      }
    }
    .blog-preview {
      &__title-wrap {
        flex-flow: row nowrap;
        align-items: center;
      }
      &__link {
        margin-bottom: 10px;
      }
      &__title {
        &.section-title {
          width: 50%;
        }
      }
      &__subtitle {
        display: none;
      }
    }

    .error-page {
      .search-wrapper {
        padding: 0 15px;
      }
    }

    .filter-result {
      .deal-include {
        margin-bottom: 20px;
        &__item {
          flex: 0 0 25%;
          max-width: 25%;
        }
      }
      &__col-right {
        flex-flow: row wrap;
      }
      &__value {
        margin-bottom: 5px;
        width: 100%;
        flex: 1 0 100%;
        text-align: center;
      }
      &__btn-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          margin-bottom: 0;
        }
      }

    }

    .deal-single-page {
      .deal-include {
        &__item {
          flex: 0 0 33%;
          max-width: 33%;
        }
        &__text {
          padding-left: 0;
        }
      }
    }

  }
  @media (max-width: 475px) {
    .banner {
      &-container {
        min-height: 270px;
        margin-bottom: 25px;
      }
    }
    .partners {
      margin-bottom: 25px;
    }
    .banner-grid {
      &-container {
        margin-bottom: 15px;
      }
    }
    .blog-page {

      .blog {
        &__archives-wrap {
          margin-bottom: 40px;
        }
        &__categories-wrap {
          margin-bottom: 40px;
        }
      }
    }

    .page-pagination {
      .page-item {
        &:first-child {
          margin-right: 30px;
        }
        &:last-child {
          margin-left: 30px;
        }
      }
    }

    .filter-result {
      .deal-include {
        margin-bottom: 0;
        &__item {
          flex: 0 0 50%;
          max-width: 50%;
          margin-bottom: 10px;
        }
        &__img{
          display: none;
        }
      }
      &__col-left{
        padding-bottom: 0;
      }
      &__col-right{
        img{
          width: 115px;
        }
      }
      &__btn {
        max-width: 105px;
      }
    }

    .error-page__form-subtitle {
      margin-top: 20px;
    }

  }
  @media (max-width: 375px) {
  }

}
